
/* shared styles */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

*{
    margin: 0;
    padding: 0;
}

.logo .orange{
    color: #FD6E0A;
}


/* section heading */

.section-heading {
    width: 827px;
    margin: 0 auto;
    text-align: center;
}
.section-heading h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

/* all button */
.btn{
    color: #FFFFFF;
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}




/* main stayle */
header{
        background-color: rgba(255, 248, 243, 1);
        background: url(../images/developer.png), url(../images/header_bg.png),  rgba(255, 248, 243, 1);
        background-position: top left, right bottom ;
        background-repeat: no-repeat;
        padding-top: 60px;
}

nav{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;   
}
nav ul a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;

}

/* banner part */
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0 280px;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;

}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}


/* this is the about part */

#about{
    padding-top: 130px;
}
#about .about-container{
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}




.about-me{
    width: 827px;
    margin: 0 auto;
    

}


.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;

}
.about-info h4{
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

/* this is the skill part */
.skill-container .center{
    padding-top: 130px;
}
.center{
    margin-bottom: 50px;
}

.skill-container{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill{
    display: flex;
    gap: 30px;
    text-align: justify;
    align-items: center;
}
.skill-box{
    padding: 30px 36px;
    box-shadow: 0px 5px 30px 0px;
    border-radius: 5px;
}

.skill-img img{
    /* width: 44px; */
    margin-bottom: 20px;
}

.skill .skill-box h3{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skill .skill-box p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

/* this is the resume part */

#resume{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 130px;
}

.resume-container{
    display: flex;
    gap: 60px;
}

#resume .resume-heading{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 110px;
}

/* .resume-container{
    padding-top: 110px;
} */

.education h2{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.experience h2{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-container h4{
    color: #474747;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.resume-container .sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.resume-container p{
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
}